<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/index.css" type="text/css" rel="stylesheet" />
</head>
<body>
<h2>Please Login</h2>

    <form method="post" th:action="${flowExecutionUrl}">

        <input type="hidden" name="_eventId" value="performLogin" />
        <input type="hidden" name="_flowExecutionKey" value="${flowExecutionKey}" />

        Enter Username<input type="text" name="userName" maxlength="40" /><br/>
        Enter Password <input type="password" name="password" maxlength="40" />
        <input type="submit" value="Login" />

    </form>k

</body>
</html>
